@import "tailwindcss";

body{
  background:#020617;
  color:white;
  overflow-x:hidden;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#2563eb;
  border-radius:999px;
}

.card{
  background:#0f172a;
  border:1px solid #1e293b;
  border-radius:1rem;
  box-shadow:0 20px 25px rgba(0,0,0,0.3);
}

.gradient{
  background:linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );
}